.container {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.slide-in-element {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.in-view {
  opacity: 1;
  transform: translateX(0);
}

.sliding-content {
  border: 2px solid white;
  padding: 30px 60px;
}
